{% extends "layout.html" %}

{% block content %}
  <div class="text-light bg-black splash" id="splash">
    <h1 class="text-center display-1">Paolo Castro</h1>
    <h3 class="text-center display-5">ARTS 2126 - Digital Art</h3>
    <div class="text-center vstack gap-3 mt-4">
      <a class="h5 text-primary splash-link" href="{{ url_for("project1") }}"><span>Old Languages — New Images</span></a>
      <a class="h5 text-primary splash-link" href="{{ url_for("project2") }}"><span>Quietest Place</span></a>
      <a class="h5 text-primary splash-link" href="{{ url_for("project3") }}"><span>Intimate, Indispensable GIF</span></a>
      <a class="h5 text-primary splash-link" href="{{ url_for("project4") }}"><span>Word As Image: Kinetic Typography</span></a>
      <a class="h5 text-primary splash-link" href="{{ url_for("project5") }}"><span>Animated Conversation</span></a>
      <a class="h5 text-primary splash-link" href="{{ url_for("statements") }}"><span>Artist Statements</span></a>
      <a class="h5 text-primary splash-link" href="{{ url_for("reflections") }}"><span>The Activity of Self-Reflection Writings</span></a>
    </div>
  </div>
{#  <div class="bg-black">#}
{#    <img alt="" src="{{ url_for("static", filename="images/front.png") }}" class="w-100">#}
{#  </div>#}
{% endblock content %}

{% block scripts %}
  <script>
    let splash = $("#splash")
    let win = $(window)

    function pageResize() {
        if (win.height() > win.width()) { // narrow
            splash.css("background-position", "center bottom")
        } else { // wide
            splash.css("background-position", "center top")
        }
    }

    $(window).on("resize", pageResize)

    $(window).ready(pageResize)
  </script>
{% endblock scripts %}