{% extends "layout.html" %}

{% block content %}
  <div class="text-light bg-black splash" id="splash">
    <h1 class="text-center display-1">Paolo Castro</h1>
    <h3 class="text-center display-3">ARTS 2126 - Digital Art</h3>
    <div class="text-center vstack gap-4 mt-4">
      <a class="display-4 text-primary splash-link" href="{{ url_for("project1") }}"><span>Project 1</span></a>
      <a class="display-4 text-primary splash-link" href="{{ url_for("project2") }}"><span>Project 2</span></a>
      <a class="display-4 text-primary splash-link" href="{{ url_for("project3") }}"><span>Project 3</span></a>
      <a class="display-4 text-primary splash-link" href="{{ url_for("project4") }}"><span>Project 4</span></a>
      <a class="display-4 text-primary splash-link" href="{{ url_for("project5") }}"><span>Project 5</span></a>
    </div>
  </div>
{#  <div class="bg-black">#}
{#    <img alt="" src="{{ url_for("static", filename="images/front.png") }}" class="w-100">#}
{#  </div>#}
{% endblock content %}

{% block scripts %}
  <script>
    let splash = $("#splash")
    let win = $(window)

    function pageResize() {
        if (win.height() > win.width()) { // narrow
            splash.css("background-position", "center bottom")
        } else { // wide
            splash.css("background-position", "center top")
        }
    }

    $(window).on("resize", pageResize)

    $(window).ready(pageResize)
  </script>
{% endblock scripts %}