{% extends "layout.html" %}
{% block content %}
  <h1 class="mt-2 mb-4 display-1 text-primary">Project 1: Old Language - New Image</h1>
  <div class="project-container mb-5 pb-2">
    <h3>Past, Present, and Future</h3>
    <div class="text-center">
      <div class="center mt-3">
        <img alt="" style="max-width: 100%; max-height: 90vh;" src="{{ url_for("static", filename="images/project1/1.jpg") }}">
      </div>
      <div class="center mt-3">
        <img alt="" style="max-width: 100%; max-height: 90vh;" src="{{ url_for("static", filename="images/project1/2.jpg") }}">
      </div>
      <div class="center mt-3">
        <img alt="" style="max-width: 100%; max-height: 90vh;" src="{{ url_for("static", filename="images/project1/3.jpg") }}">
      </div>
    </div>
  </div>

{% endblock content %}