{% extends "layout.html" %}
{% block content %}
  <h1 class="mt-2 mb-4 display-1 text-primary">The Activity of Self-Reflection Writings</h1>
  <div class="project-container mb-5 pb-2">
    <h3>Project 1: Old Language - New Image</h3>
    <p>I think about my "journey of self-discovery" every day, and to be able to express what I've been going through
      using art feels cathartic. It took a while, but I was able to find passages that described different stages of
      this "journey." The images themselves came naturally to me.</p>
  </div>

{% endblock content %}