{% extends "layout.html" %}
{% block content %}
  <h1 class="mt-2 mb-4 display-1 text-primary">The Activity of Self-Reflection Writing</h1>
  <div class="mb-4">
    <div class="project-container mb-3 pb-2">
      <h3>Project 1: Old Language - New Image</h3>
      <p>I think about my "journey of self-discovery" every day, and to be able to express what I've been going through
        using art feels cathartic. It took a while, but I was able to find passages that described different stages of
        this "journey." The images themselves came naturally to me.</p>
    </div>
    <div class="project-container mb-3 pb-2">
      <h3>Project 2: Quietest Place</h3>
      <p>Even though my location was on campus, I had never been there specifically, and it was great. I got a chance
        to take a break from everything. With more resources, I would’ve gotten some better equipment to block out the
        wind, but I am very satisfied with the final result.</p>
    </div>
    <div class="project-container mb-3 pb-2">
      <h3>Project 3: Intimate, Indispensable GIF</h3>
      <p>Dungeons and Dragons helped me maintain my mental health during a period of extreme isolation. Because of
        that, D&D, and the people I play with, have become very dear to me, and I’m glad I was able to express that.
        Though very imperfect, I am satisfied with how the project turned out.</p>
    </div>
    <div class="project-container mb-3 pb-2">
      <h3>Project 3: Word as Image: Kinetic Typography</h3>
      <p>This project turned out to be a much bigger undertaking than I had anticipated. My ambitious idea and my lack
        of animation experience did not mix well. However, after many hours of work, the end result turned out to be
        what I was envisioning, so I think it was worth it.</p>
    </div>
  </div>

{% endblock content %}