{% extends "layout.html" %}
{% block content %}
  <h1 class="mt-2 mb-4 display-1 text-primary">Artist Statements</h1>
  <div class="mb-4">
    <div class="project-container mb-3 pb-2">
      <h3>Project 1: Old Language - New Image</h3>
      <p>This project, titled <em>Past, Present, and Future</em>, depicts three images that describe a personal journey of
        self-discovery. When I wanted the viewer to still be able to read the surrounding text, I used lighter colors,
        such as pink and blue. However, I used more black when that was less important. Having not many materials at my
        disposal, I made due with pens of various colors, and cut and rearranged the page. The rearranging of pages was
        inspired by a classmate, Victoria Messinger. The last image was partially inspired by M.C. Escher and his use
        of negative space.</p>
    </div>
    <div class="project-container mb-3 pb-2">
      <h3>Project 2: Quietest Place</h3>
      <p>My project, titled <em>Respite</em>, is a short video of the location I chose as my “quietest place.” The goal of this
        project was to sit in a relaxing environment and create music inspired by the surroundings. My aim was to create
        a work that embodied a time of rest in between the hustle and bustle of life. I used a portable USB piano,
        Ableton Live, and Adobe Premier. Once I found a spot, I got an idea for the music I wanted to make, then filmed
        and performed the work. Afterward, I edited it all together. The music was inspired by Levi Niha and FKJ.</p>
    </div>
    <div class="project-container mb-3 pb-2">
      <h3>Project 3: Intimate, Indispensable GIF</h3>
      <p><em>The Light in the Dark</em> is a stop-motion GIF that depicts dice for the game of Dungeons & Dragons. Playing D&D
        with my friends over Zoom during the pandemic allowed me to remain sane during a very stressful time. I wanted a
        minimalistic aesthetic, I chose dice with neutral colors, and I tried to give the heart in keeping with that
        theme. I used an app on my phone to take the pictures of all the frames, then Adobe Premier and GIMP to create
        the video itself, and finally I used Ezgif.com to convert it into a GIF.</p>
    </div>
    <div class="project-container mb-3 pb-2">
      <h3>Project 4: Word as Image: Kinetic Typography</h3>
      <p><em>Unity</em> tells the story of vowels and consonants fighting each other. "Y" breaks up the fight and
        reminds the other letters that they are fundamentally the same. I picked colors that would make the letters
        seem angry. I did my best to make use of the 12 principles of animation and make the movement as natural as
        possible. I used After Effects to animate, Ableton Live to create the "musical" sound effects, and Premier
        Pro to stitch the two together. The story hinges on the sound, which starts as an arrhythmic jumble, and
        ends with a song, emphasizing the coordination in the movement of the individual characters.</p>
    </div>
    <div class="project-container mb-3 pb-2">
      <h3>Project 5: Animated Conversation</h3>
      <p>This animation, titled <em>Comics</em>, brings to life a conversation between myself and my partner. It attempts to
        visually show what my partner is talking about. I chose a relaxing, cool color scheme to create a pleasant
        looking jungle river. I was able to use some of my experience with the last project to more easily implement
        the 12 fundamental principles of animation. I used Illustrator to create the graphics, Animate to create the
        animation, and Premier Pro to add the sound effects. I wanted the sound to accompany the video rather than
        distract from it, so I made the sounds relatively quiet.</p>
    </div>
  </div>


{% endblock content %}