{% extends "layout.html" %}
{% block content %}
  <h1 class="mt-2 mb-4 display-1 text-primary">Artist Statements</h1>
  <div class="project-container mb-5 pb-2">
    <h3>Project 1: Old Language - New Image</h3>
    <p>This project, titled "Past, Present, and Future," depicts three images that describe a personal journey of
      self-discovery. When I wanted the viewer to still be able to read the surrounding text, I used lighter colors,
      such as pink and blue. However, I used more black when that was less important. Having not many materials at my
      disposal, I made due with pens of various colors, and cut and rearranged the page. The rearranging of pages was
      inspired by a classmate, Victoria Messinger. The last image was partially inspired by M.C. Escher and his use
      of negative space.</p>
  </div>

{% endblock content %}